<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Bay Country Broadcast Equip. Inc.</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand p-0" href="index.html"><img src="images/baysite_sm.jpg"/></a>
    <button class="navbar-toggler float-right" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="equipment.html">Equipment<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron mt-5 pt-5 pb-2">
    <div class="row">
        <div class="col-md font-weight-light">
            <h4>Updated everyday, Monday through Friday.</h4>
            <p class="lead">FREE gift with purchase!</p>
            <p>HOURS: 8:00AM - 7:00PM EST. MON. - FRI.</p>
        </div>
        <div class="col-md font-weight-light">
            <p>
                All equipment cleaned and inspected for proper operation.<br>
                Manuals and power cords always included.
            </p>
            <p>
                You are NOT stuck with your purchase.<br>
                Ask about our 15 day return guarantee!
            </p>
            <p>Equipment is being added all the time. <br>
                Give us a call if you don't see what you need listed!
            </p>
        </div>
    </div>
</div>

<section id="equipment" class="grid-container bg-light">

    <div id="fullimage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="img-title">Title</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>

    <div class="card" v-for="equip in equipment">
        <button v-if="equip.image" class="border rounded" data-toggle="modal"
        data-target="#fullimage" 
        v-bind:data-image="equip.image"
        v-bind:data-title="equip.name">
            <img class="card-img-top"  v-bind:src="equip.image" 
            v-bind:alt="equip.name"/>
        </button>

        <div class="card-body">
            <h5 class="card-title">{{ equip.name }}</h5>
            <p class="card-text">{{ equip.description }}</p>
            <p class="card-text">In stock: {{ equip.stock }}</p>
            <p class="card-text" v-if="equip.newPrice">
                NEW List price: {{ equip.newPrice .toLocaleString("en-US", {
                    currency: "USD",
                    style: "currency"
                }) }}
            </p>
            <p class="lead">Price: {{ equip.price.toLocaleString("en-US", {
                currency: "USD",
                style: "currency"
            }) }}</p>
        </div>
        <button class="btn btn-primary">Add to cart</button>
    </div>
</section>

<div class="jumbotron mt-3 mb-0 py-2 small font-weight-light">
    <p>Pictures Shown May Not Be Actual Piece Of Equipment.</p>
    <p>We Will Not Be Held Accountable For Typographical Errors.</p>
</div>

<footer class="bg-dark py-4 text-light">
    <div class="container font-weight-light small">
        <div class="row">
            <div class="col-md">
                <h6>CONTACT INFO</h6>
                <p>Email: sales@baycountry.com<br/>
                Phone numbers : <br/>
                (410) 335-3136<br/>
                (877) 722-1031</p>
                <p>
                    Stephen A. Scarborough <br/>
                    Bay Country Broadcast Equipment Inc. <br/>
                    7117 Olivia Rd <br/>
                    Baltimore, MD 21220
                </p>
            </div>
            <div class="col-md">
                <h6>HOURS</h6>
                <p>
                    9:00 AM to 6:00 PM ET <br>
                    Monday - Friday
                </p>
            </div>
            <div class="col-md">
                <h6>LINKS</h6>
                <ul class="list-unstyled">
                    <li><a class="text-light" href="index.html">Home</a></li>
                    <li><a class="text-light" href="equipment.html">Equipment</a></li>
                    <li><a class="text-light" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="module">
import equipment from "./equipmentList.js";

const equipContainer = new Vue({
    el: "#equipment",
    data: {
        equipment
    }
});

$('#fullimage').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var image = button.data('image');
    var title = button.data('title');
    var modal = $(this);
    modal.find('.modal-title').text(title);
    modal.find('.img-fluid').attr("src", image);
});
</script>

</body>
</html>